<div>
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item" routerLink="login">
                <img width="40" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/employee-management-2789097-2311460.png" />
                <strong><span>XYZ &nbsp;</span></strong>
            </li>
            <li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </li>

            <li class="nav-item">
                <button style="background-color: rgb(51, 224, 247); border-radius: 2cm; border-color: rgb(25, 119, 119); width: 200px; height:40px; color: rgba(47, 78, 75, 0.993)" type="button"><strong>Employee Management</strong></button>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</div>
